/* Font */

@font-face {
    font-family: "Inter";
    src: url("../assets/font/Inter-VariableFont_opsz\,wght.ttf") format("truetype-variations");
    font-weight: 1 999;
    font-style: normal;
}

@font-face {
    font-family: "Inter-Italic";
    src: url("../assets/font/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype-variations");
    font-weight: 1 999;
    font-style: italic;
}

/* Variables */

:root {
    --color-white: #ffffff;
    --color-silver: #f5f7fa;
    --color-greyblue: #abbed1;
    --color-lightgrey: #89939e;
    --color-grey: #717171;
    --color-darkgrey: #4d4d4d;
    --color-black: #263238;
    --color-primary: #4CAF4F;
    --color-secondary: #263238;
    --color-info: #2194f3;
    --color-primary-shade1: #43a046;
    --color-primary-shade2: #388e3b;
    --color-primary-shade3: #237d31;
    --color-primary-shade4: #1b5e1f;
    --color-primary-shade5: #103e13;
    --color-primary-tint1: #66bb69;
    --color-primary-tint2: #81c784;
    --color-primary-tint3: #a5d6a7;
    --color-primary-tint4: #c8e6c9;
    --color-primary-tint5: #e8f5e9;
    --color-warning: #fbc02d;
    --color-error: #e53a35;
    --color-success: #2e7d31;
}

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: "Inter", Helvetica, sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--color-darkgrey);
    margin-bottom: 8px;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    color:  var(--color-darkgrey);
    margin-bottom: 8px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-grey);
}

.wrapper {
    max-width: 1440px;
    margin: auto;
}

.primary {
    color: var(--color-primary);
}

.cta {
    margin-top: 32px;
    min-width: 128px;
    display: inline-block;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 14px 32px;
    border-radius: 6px;
    text-decoration: none;
}

/* Top navigation */

header {
    background-color: var(--color-silver);
}

.top-nav {
    padding: 30px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav ul {
    list-style: none;
}

.top-nav ul li {
    display: inline-block;
}

.nav-link:not(:last-child) {
    margin-right: 50px;
}

.top-nav a {
    color: var(--color-black);
    text-decoration: none;
}

.top-nav a:active {
    color: var(--color-black);
    text-decoration: none;
}

.top-nav a:hover {
    color: var(--color-black);
    text-decoration: none;
}

.top-nav a:after {
    color: var(--color-black);
    text-decoration: none;
}

.login-link {
    padding: 10px 20px;
    margin-right: 14px;
}

.top-nav .login-link a {
    color: var(--color-primary);
    font-size: 14px;
}

.top-nav .signup-cta a {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 6px;
}

/* Hero */

.hero {
    background-color: var(--color-silver);
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text-container {
    margin-right: 104px;
    max-width: 650px;
    min-height: 250px;
}

.hero-heading {
    font-size: 64px;
    font-weight: 600;
    color: var(--color-darkgrey);
}

.hero-subtitle {
    margin-top: 16px;
    color: var(--color-grey);
}

/* Hero slider navigation */

.hero-slider-nav {
    position: absolute;
    top: 675px;
    left: 50%;
    transform: translateX(-50%);
}

.hero-slider-nav ul {
    /* Interesting hack to avoid whitespace in list -> set font-size to 0. */
    font-size: 0;
    list-style: none;
}

.slider-nav-dot {
    --dot-size: 10px;
    margin: 0 4px;
    display: inline-block;
    background-color: rgba(76, 175, 79, 0.3);
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
}

.dot-active {
    background-color: var(--color-primary);
}

/* Our Clients */

.our-clients {
    min-height: 190px;
    margin-top: 40px;
    text-align: center;
}

.client-logos {
    margin-top: 16px;
    padding: 30px 0;
    font-size: 0;
}

.client-logos ul {
    list-style-type: none;
}

.client-logos ul li {
    display: inline-block;
}

.client-logos ul li:not(:last-child) {
    margin-right: 136px;
}

.client-logos img {
    --logo-size: 48px;
    width: var(--logo-size);
    height: var(--logo-size);
}

/* Use cases */

.use-cases {
    margin-top: 40px;
    padding: 0 144px;
    text-align: center;
}

.use-cases-text {
    margin: auto;
    max-width: 542px;
}

.use-cases-container {
    margin: auto;
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}

.use-case {
    padding: 24px 32px;
    max-width: 300px;
}

.use-case-icon {
    margin-bottom: 16px;
}

.use-case p {
    font-size: 14px;
    line-height: 20px;
}

/* Image left section */

.image-left {
    min-width: 100%;
    margin-top: 40px;
    padding: 20px 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-left-image {
    margin-right: 50px;
    max-width: 440px;
}

.image-left-text-container {
    max-width: 600px;
}

.image-left-text-container p {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
}

.image-left-header-container {
    max-width: 550px;
}

/* Counters section */

.counters-section {
    min-width: 100%;
    background-color: var(--color-silver);
    margin-top: 40px;
    padding: 64px 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counters-section-text {
    width: 540px;
    margin-right: 72px;
}

.counters-section-text .primary {
    display: inline-block;
}

.counters-container {
    width: 540px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
}

.counter {
    display: flex;
    align-items: center;
}

.counter img {
    margin-right: 16px;
}

/* Testimonial */

.testimonial {
    min-width: 100%;
    margin-top: 40px;
    max-width: 1440px;
    padding: 64px 144px;
    background-color: var(--color-silver);
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-image {
    --image-size: 326px;
    height: var(--image-size);
    width: var(--image-size);
    margin-right: 78px;
    border-radius: 8px;
}

.testimonial-text {
    max-width: 748px;
}

.testimonial-client-name {
    margin-top: 16px;
    margin-bottom: 8px;
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.testimonial-client-company {
    color: var(--color-lightgrey)
}

.testimonial-client-logos {
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.testimonial-client-logos img {
    margin-right: 40px;
}

.testimonial-logos-link {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

/* Footer */

footer {
    min-height: 328px;
    padding: 64px 165px;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
}

.footer-column:first-child {
    margin-right: 125px;
}

.footer-column h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.footer-column ul {
    list-style: none;
}

.footer-copyright {
    margin: 42px 0;
}

.footer-copyright p {
    color: var(--color-silver);
    font-size: 14px;
}

.footer-copyright p:not(:last-child) {
    margin-bottom: 8px;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul li:not(:last-child) {
    margin-right: 16px;
}

footer a {
    text-decoration: none;
    font-size: 14px;
    color: var(--color-silver);
}

.footer-column ul li:not(:last-child) {
    margin-bottom: 12px;
}

footer a:hover {
    color: var(--color-silver);
}

footer a:active {
    color: var(--color-silver);
}

footer a:after {
    color: var(--color-silver);
}

.footer-email-input {
    border: none;
    background-color: #ffffff30;
    color: var(--color-silver);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    padding: 12px;
    min-width: 250px;
}